.btnClickDeliver {
  display: flex;
  gap: 10px;
  max-width: 42ch;
}

.clickCollect-selected,
.deliver-selected {
  background-color: var(--second-light);
  color: var(--second-color);
  font-size: 1rem;
  border-radius: 12px;
  border: 0px;
  padding: 5px 30px;
  height: 30px;
  flex-shrink: 0;
}
.btn-cod:hover {
  background-color: var(--second-light);
  color: var(--second-color);
}

.btn-cod:active,
.deliver-selected:active,
.clickCollect-selected:active {
  outline: 1px solid var(--second-light);
  outline-offset: 5px;
}

.button-width {
  width: 100%;
  flex: 1;
}

.deliverH2 {
  padding: 2rem 0 0.5rem 0;
}
