.pay-page * {
  color: var(--dark-color);
}

.pay-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.link-back {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--dark-color);
  margin: 1rem 0;

}

.pay-container {
  width: 20rem;
  margin: 0 auto;
}

.google-pay {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 1rem;
  border-radius: 12px;
  border: 0px;
  padding: 10px 30px;
  margin: 3rem 0 0.5rem 0;
  height: auto;
  width: 100%;
}

.google-pay:hover {
  background-color: var(--light-dark);
}

.google-pay:active {
  outline: 1px solid var(--light-dark);
  outline-offset: 5px;
}

.pay-h3 {
  text-align: center;
  width: 100%;
  margin: 2rem 0 1rem 0;
}

.pay-h3:before,
.pay-h3:after {
  content: "";
  width: 5.4rem;
  border-bottom: var(--dark-color) solid 0.8px;
  display: inline-block;
  vertical-align: middle;
}

input {
  display: block;
  height: 2.2rem;
  border-radius: 12px;
  border: #989696 1.5px solid;
  padding: 0px !important;
  padding-inline: 0px !important;
  padding-block: 0px !important;
}

input::placeholder {
  color: #989696;
}

input:focus {
  border: var(--main-color) !important;
}

input:hover {
  border-color: var(--main-color);
}

.pay-form-input {
  margin-top: 0.3rem;
  width: 100%;
}

.pay-form label {
  margin: 1rem 0;
}

.pay-form-bank {
  display: flex;
  flex-flow: wrap;
  gap: 5px;
}

.bank-input-1 {
  width: 100%;
}

.bank-input-2,
.bank-input-3 {
  flex: 1;
  width: 50%;
}

.btn-pay {
  background-color: var(--main-color);
  border-radius: 12px;
  border: 0px;
  padding: 10px 30px;
  margin: 2rem 0 0.5rem 0;
  height: auto;
  width: 100%;
}

.btn-pay-link {
color: var(--light-color);
font-size: 1rem;
}
.btn-pay:hover {
  background-color: var(--lightmain-color);
}

.btn-pay:active {
  outline: 1px solid var(--lightmain-color);
  outline-offset: 5px;
}
