.hideLivraison {
  display: none;
}

.showLivraison {
  display: flex;
}

.inputdelivery {
  width: 332px;
  height: 30px;
  border-radius: 10px;
  font-size: 0.8rem;
  color: black;
}

input::placeholder {
  padding-left: 35px;
  color: grey;
}

.btn-delivery {
  width: 30px;
  border-radius: 6px;
  background-color: red;
  font-size: 1rem;
}

.geoapify-autocomplete-input {
  color: black;
  width: 402px;
}

.geoapify-autocomplete-items {
  background-color: var(--second-color) !important;
  width: 402px;
}

.geoapify-autocomplete-item:hover {
  background-color: var(--tertiary-color) !important;
}

/* .main-part:hover,
.secondary-part:hover {
  color: var(--second-color) !important;
} */

.geocoder-container {
  display: flex !important;
  max-width: 42ch !important;
  flex-wrap: wrap !important;
}

@media (max-width: 430px) {
  .geocoder-container {
    width: 100% !important;
  }
}
