.containerLetsGo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: 42ch;
  margin-top: 5rem;
}

.btnLetsGo {
  display: flex;
  align-items: center;
  background-color: var(--tertiary-color);
  color: var(--light-color);
  font-size: 1rem;
  border-radius: 12px;
  border: 0px;
  padding: 5px 30px;
  height: 30px;
  width: fit-content;
  flex-shrink: 0;
}

.btnLetsGo:active {
  background-color: var(--tertiary-light);
  outline: 1px solid var(--tertiary-light);
  outline-offset: 5px;
  color: var(--tertiary-color);
}

.hideBtnLetsGo {
  display: none;
}

@media (max-width: 430px) {
  .containerLetsGo {
    width: 100%;
  }
}
