.paiement-done-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paiement-done-container h1 {
  margin: 0 0 2rem;
}

.paiement-done-container p {
  font-size: 1.3rem;
}


.first-p {
  margin: 0 0 0.5rem;
}

.second-p {
  margin: 0 0 0.5rem;
}


