nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--main-color);
  z-index: 100;
}
/* z-index positione l'élément au dessus des autres élèments,
plus le z-index est élevé, plus l'élément ciblé se place au dessus des autres */
.blockLogo {
  z-index: 100;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 5px;
}
nav > div > h3 {
  font-size: 1.5rem;
  margin-top: 5px;
}
nav > div > a > img {
  width: 60px;
  z-index: 100;
}
/* pseudo classe nth-of-type(), permet de cibler précisement un élément de même type (par exemple la deuxième div contenu
dans la barre de navigation <nav> */
nav > div:nth-of-type(2) {
  z-index: 100;
  padding-right: 0.5rem;
}
nav > div > button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
nav > div > button > img {
  width: 100%;
}

.titre {
  font-size: 1.8rem;
  display: none;
}
nav > ul {
  top: -50%;
  position: fixed;
  text-align: center;
  width: 100vw;
  display: flex;
  background-color: var(--main-color);
  transition: top 0.3s ease-in-out;
}

nav > ul > li {
  list-style: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 20px;
  padding: 0.3rem 1.5rem;
  border: 1px solid var(--main-color);
}

nav > ul > li:hover {
  color: var(--light-color);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--light-color);
}

/* classe ajouter quand le menu burger est ouvert (openMenu = true) et retirer quand le menu burger est fermé (openMenu = false).
La position top passe de -50% (en dehors de l'écran) à 0.
Avec cette classe, ul et son contenu est donc visible */

.linkVisible {
  top: 0;
  transition: top 0.8s ease-in-out;
}
nav > ul > li:last-child {
  padding: 0.3rem 1.5rem 0 1.5rem;
  border-radius: 25px;
}
nav > ul > li > img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  padding: 0 0 10px 5px;
}

/*intermediaire*/
@media screen and (max-width: 850px) {
  nav > ul {
    flex-direction: column;
    gap: 10px;
    padding: 80px 0 60px 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  nav > ul > li {
    font-size: 1.5rem;
  }
  nav > ul > li > a > img {
    display: none;
  }
  nav > ul > li > a > div {
    display: none;
  }
  nav > ul > li:last-child {
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
  }
}
/* large */
@media screen and (min-width: 850px) {
  nav {
    padding: 0;
  }
  .titre {
    display: inline-block;
  }
  nav > ul {
    height: 80px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 13.7rem;
  }
  nav > ul > li {
    margin: 0;
  }
  nav > div:nth-of-type(2) {
    padding-right: 10%;
  }
  .blockLogo > h3 {
    position: absolute;
    top: -50%;
    left: calc(10% + 70px);
    transition: top 0.3s ease-in-out;
  }
  .blockLogo > h3.titleVisible {
    top: calc(80px - 55px);
    left: calc(10% + 70px);
    transition: top 0.3s linear;
  }
  .titre2 {
    display: none;
    transition: all 0.3s linear;
  }
  nav > ul > li:last-child {
    padding: 0.3rem 1.5rem 0 1.5rem;
    border-radius: 25px;
    position: relative;
  }
  nav > ul > li > a > img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    padding: 0 0 10px 5px;
  }
  .blockLogo {
    padding-left: 10%;
  }

  .cart-counter-nav {
    background-color: red;
    width: 15px;
    height: 15px;
    font-size: 0.15rem;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    position: absolute;
    right: 20px;
    top: 3px;
  }
}
